<div class="container-fuild">
    <div class="row">
        <div class="col-3">
            <button mat-stroked-button routerLink='from-event'>
                FromEvent
            </button>
        </div>
    
        <div class="col-3">
            <button mat-stroked-button routerLink='interval'>
                Interval
            </button>
        </div>
    
        <div class="col-3">
            <button mat-stroked-button routerLink='of-from'>
                of-From
            </button>
        </div>
    
        <div class="col-3">
            <button mat-stroked-button routerLink='from-event'>
                FromEvent
            </button>
        </div>
    </div>
</div>
