<div class="container-fuild">
    <div class="row">
        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='from-event'>
                FromEvent
            </button>
        </div>
    
        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='interval'>
                Interval
            </button>
        </div>
    
        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='of-from'>
                of-From
            </button>
        </div>
    
        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='toArray'>
                ToArray
            </button>
        </div>

        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='map'>
                Map
            </button>
        </div>

        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='pluck'>
                Pluck
            </button>
        </div>

        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='async-subject'>
                Async Subject
            </button>
        </div>

        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='concat-map'>
                Concat Map
            </button>
        </div>
        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='concat-map-flatten'>
                concatMap Flatten
            </button>
        </div>
        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='concat-map-mobile'>
                ConcatMap Mobile
            </button>
        </div>
        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='concat-merge'>
                concatMerge
            </button>
        </div>

        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='debounce-time'>
                DebounceTime & Distinct
            </button>
        </div>

        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='merge-map'>
                MergeMap
            </button>
        </div>
        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='replay-subject'>
                Replay Subject
            </button>
        </div>
        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='retry'>
                Retry
            </button>
        </div>
        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='subject'>
                Subject & Behavior Subject
            </button>
        </div>
        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='take'>
                Take
            </button>
        </div>
        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='tap'>
                Tap
            </button>
        </div>
        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='switch-map'>
                SwitchMap
            </button>
        </div>
        <div class="col-3 my-3">
            <button mat-stroked-button routerLink='switch-map-search'>
                SwitchMap Search
            </button>
        </div>
    </div>
</div>
