<div class="row p-3">
    <div class="col-4">
        <strong>Definition:</strong>
        <hr>
        <strong>Example - 01 (Map on Data) </strong>
        <hr>

        <div class="col-12">
            <div class="card">
                <div class="card-header">Data Transformation using Map operator</div>
                <div class="card-body">
                    <ul *ngFor='let ev of eventList'>
                        <li>
                            {{ev}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-4">
        <strong>Definition:</strong>
        <hr>
        <strong>Example - 02 (Table of 2) </strong>
        <hr>

        <div class="col-12">
            <div class="card">
                <div class="card-header">Data Transformation using Map operator</div>
                <div class="card-body">
                    <ul *ngFor='let table of numericTableList'>
                        <li>
                            {{table}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>

