<div class="row p-3">
    <div class="col-4">
        <strong>Definition:</strong>
        <hr>
        <strong>Example - 01 (Of) </strong>
        <hr>

        <div class="col-12">
            <div class="card">
                <div class="card-header">Array to Observable</div>
                <div class="card-body">
                    <ul *ngFor='let ev of eventList'>
                        <li>
                            {{ev}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-4">
        <strong>Definition:</strong>
        <hr>
        <strong>Example - 02 (From) - Promise resolve </strong>
        <hr>
        <div class="col-12">
            <div class="card">
                <div class="card-header">Promise Result - wait for 3s</div>
                <div class="card-body">
                    {{promiseResult}}
                </div>
            </div>
        </div>
    </div>

    <div class="col-4">
        <strong>Definition:</strong>
        <hr>
        <strong>Example - 03 (From) </strong>
        <hr>

        <div class="col-12">
            <div class="card">
                <div class="card-header">String To observable</div>
                <div class="card-body">
                    <ul *ngFor='let str of stringList'>
                        <li>
                            {{str}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</div>
